<app-nav-menu></app-nav-menu>
<div style=" padding-left: 10px; padding-right: 20px;">

  <div class="row">
    <div class="col" style="overflow-x: scroll;overflow-y:hidden;border: 3px solid black;">
      <div style="text-align: center;position: fixed;">
        <p>Водород</p>
      </div>
      <div style="width: 100%;">
        <div class="canvasHolder">
          <canvas baseChart
                  [datasets]="mq8ChartData"
                  [labels]="chartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col" style="overflow-x: scroll;overflow-y:hidden;border: 3px solid black;">
      <div style="text-align: center;position: fixed;">
        <p>Угарный газ</p>
      </div>
      <div style="width: 100%;">
        <div class="canvasHolder">
          <canvas baseChart
                  [datasets]="mq7ChartData"
                  [labels]="chartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="overflow-x: scroll;overflow-y:hidden;border: 3px solid black;">
      <div style="text-align: center;position: fixed;">
        <p>CO2 углекислый газ</p>
      </div>
      <div style="width: 100%;">
        <div class="canvasHolder">
          <canvas baseChart
                  [datasets]="mq135ChartData"
                  [labels]="chartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col" style="overflow-x: scroll;overflow-y:hidden;border: 3px solid black;">
      <div style="text-align: center;position: fixed;">
        <p>Пары спирта</p>
      </div>
      <div style="width: 100%;">
        <div class="canvasHolder">
          <canvas baseChart
                  [datasets]="mq3ChartData"
                  [labels]="chartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
  </div>


</div>
