
<div class="row">
  <div class="col"></div>
  <div class="col-2">
    <form #myForm="ngForm" novalidate>
      <my-date-picker name="mydate" [options]="myDatePickerOptions"
                      [(ngModel)]="currentPickerDate" (dateChanged)="onDateChanged($event)"></my-date-picker>
    </form>
  </div>
  <div class="col-5"></div>
  <div class="col"><a routerLink="/hourStaistics">За час</a></div>
  <div class="col"><a routerLink="/firsScreen">Первый экран</a></div>
  <div class="col"><a routerLink="/secondScreen">Второй экран</a></div>
</div>
